@model UserIndexViewModel

@{
    ViewData["Title"] = "Users";
    var userList = Model.AllUsers.OrderBy(u => u.RegistrationDate).ToList();
    
}

<div class="container">
    <h2 style ="margin-top:65px">Users</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Registered on</th>
        </tr>
        </thead>
        <tbody>
        
        @for (int i = 0; i < userList.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@userList[i].FirstName</td>
                <td>@userList[i].RegistrationDate</td>
            </tr>
        }
        </tbody>
    </table>
</div>
