@model GameIndexViewModel

@{
    ViewData["Title"] = "Games";
}

<div class="container">
    
    <div class="row">
        <a class="btn btn-primary btn-sm" role="button"
           asp-area="" asp-controller="Game" asp-action="Create">Create</a>
    </div>

    <div class="row">
        <h2>Games in progress</h2>
        @await Html.PartialAsync("_GameListPartial", Model.AvailableGames.ToList())
    </div>

    <div class="row">
        <h2>Joined games</h2>
        @await Html.PartialAsync("_GameListPartial", Model.UserGamesInProgress.ToList())
    </div>

    <div class="row">
        <h2>Available Games</h2>
        @await Html.PartialAsync("_GameListPartial", Model.UserJoinedGames.ToList())
    </div>
</div>