
@{
    ViewData["Title"] = "Play";
}

<h2>Play</h2>
<div class="row">
    <div class="col-md-4 col-md-push-4 container-flex">
        <table class="table table-bordered table-hover cell">
            <thead >
            <tr >
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

            </thead>
        </table>
    </div>
</div>
